
<!-- node-project\views\admin-dashboard.ejs file -->
<%- include('headeradmin', { title: 'لوحة تحكم الأدمن' }) %>
<div class="content" style="width: 600px; margin: auto; background-color: #e6e6e6; padding: 20px; border-radius: 8px; text-align: center;">
    
    <p>هذه هي لوحة التحكم الخاصة بالأدمن.</p>
   
</div>
<%- include('footeradmin') %>