
<!-- node-project\views\doctor-dashboard.ejs file -->

<%- include('headerdoc', { title: 'لوحة تحكم الطبيب' }) %>

<div class="content" style="width: 600px; margin: auto; background-color: #e6e6e6; padding: 20px; border-radius: 8px; text-align: center;">
    
    
    <h3>لوحة التحكم الخاصة بالطبيب</h3>
    <p>هنا يمكنك إدارة سجلات المرضى، وتحديث البيانات، وتعيين المواعيد.</p>

    
</div>

<%- include('footerdoc') %>