<!-- node-project\views\footerdoc.ejs file -->

<div class="footer">
    
</div>

<style>

.footer {
    background-color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}
</style>