<!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="logo">
                <i class="fas fa-heartbeat"></i>
                <span>عيادتي</span>
            </div>
            <div class="footer-links">
                <a href="#" class="footer-link">عن عيادتي</a>
                <a href="/complaint" class="footer-link">شكاوى</a>
               
            </div>
            <div class="copyright">
                &copy; 2025 - عيادتي. جميع الحقوق محفوظة.
            </div>
        </div>
    </footer>

   
</body>
</html>